<div class="login">
    <div class="left-image"></div>
    <div class="register-form">
        <h3>Registration</h3>
        <form [formGroup]="onboardingForm" (ngSubmit)="onSubmit()">

            <label for="mobile">Mob Number:</label>
            <input type="tel" id="mobile" [formControl]="mobile" required>
            @if(this.onboardingForm.get('mobile')?.invalid && (this.onboardingForm.get('mobile')?.dirty ||
            this.onboardingForm.get('mobile')?.touched)) {
            <div>
                <small class="error">Mobile number must be 10 digits.</small>
            </div>
            }

            <label for="password">Password:</label>
            <input type="password" id="password" [formControl]="password" required>
            @if(this.onboardingForm.get('password')?.invalid && (this.onboardingForm.get('password')?.dirty ||
            this.onboardingForm.get('password')?.touched)) {
            <div>
                <small class="error">Password must be at least 6 characters long.</small>
            </div>
            }

            <label for="name">Name:</label>
            <input type="text" id="name" [formControl]="name" required>
            @if(this.onboardingForm.get('userName')?.invalid && (this.onboardingForm.get('userName')?.dirty ||
            this.onboardingForm.get('userName')?.touched)) {
            <div>
                <small class="error">Name can only contain letters and spaces.</small>
            </div>
            }

            <label for="email">Email Id:</label>
            <input type="text" id="email" [formControl]="email" required>
            @if(this.onboardingForm.get('email')?.invalid && (this.onboardingForm.get('email')?.dirty ||
            this.onboardingForm.get('email')?.touched)) {
            <div>
                <small class="error">Please enter a valid email address.</small>
            </div>
            }


            <div class="usertype_radio">
                <label>
                    <input type="radio" value="Vendor" name="userType" (change)="onUserTypeChange('Vendor')">
                    Vendor
                </label>
                <label>
                    <input type="radio" value="Customer" name="userType" (change)="onUserTypeChange('Customer')"
                        checked>
                    Customer
                </label>
            </div>

            @if(userType==='Vendor'){
            <label for="vendorOutletName">Vendor Outlet Name:</label>
            <input type="text" id="vendorOutletName" [formControl]="vendorOutletName" required>
            @if(this.onboardingForm.get('vendorOutletName')?.invalid && (this.onboardingForm.get('vendorOutletName')?.dirty ||
            this.onboardingForm.get('vendorOutletName')?.touched)) {
            <div>
                <small class="error">Vendor outlet name is required.</small>
            </div>
            }

            <label for="address">Address:</label>
            <input type="text" id="address" [formControl]="address" required>
            @if(this.onboardingForm.get('address')?.invalid && (this.onboardingForm.get('address')?.dirty ||
            this.onboardingForm.get('address')?.touched)) {
            <div>
                <small class="error">Address is required.</small>
            </div>
            }


            <label for="city">City:</label>
            <input type="text" id="city" [formControl]="city" required>
            @if(this.onboardingForm.get('city')?.invalid && (this.onboardingForm.get('city')?.dirty ||
            this.onboardingForm.get('city')?.touched)) {
            <div>
                <small class="error">City is required.</small>
            </div>
            }


            <label for="state">State:</label>
            <input type="text" id="state" [formControl]="state" required>
            @if(this.onboardingForm.get('state')?.invalid && (this.onboardingForm.get('state')?.dirty ||
            this.onboardingForm.get('state')?.touched)) {
            <div>
                <small class="error">State is required.</small>
            </div>
            }

            <label for="pinCode">pinCode:</label>
            <input type="text" id="pinCode" [formControl]="pinCode" required>
            @if(this.onboardingForm.get('pinCode')?.invalid && (this.onboardingForm.get('pinCode')?.dirty ||
            this.onboardingForm.get('pinCode')?.touched)) {
            <div>
                <small class="error">pinCode must be 6 digits.</small>
            </div>
            }

            <label for="openingTime">Outlet Open Time:</label>
            <input type="time" id="openingTime" [formControl]="openingTime" required>
            @if(this.onboardingForm.get('openingTime')?.invalid && (this.onboardingForm.get('openingTime')?.dirty ||
            this.onboardingForm.get('openingTime')?.touched)) {
            <div>
                <small class="error">Open time is required.</small>
            </div>
            }

            <label for="closingTime">Outlet Closing Time:</label>
            <input type="time" id="closingTime" [formControl]="closingTime" required>
            @if(this.onboardingForm.get('closingTime')?.invalid && (this.onboardingForm.get('closingTime')?.dirty ||
            this.onboardingForm.get('closingTime')?.touched)) {
            <div>
                <small class="error">Closing time is required.</small>
            </div>
            }

            <label for="noOfStaff">Total number of staff within Outlet:</label>
            <input type="number" id="noOfStaff" [formControl]="noOfStaff" min="1" required>
            @if(this.onboardingForm.get('noOfStaff')?.invalid && (this.onboardingForm.get('noOfStaff')?.dirty ||
            this.onboardingForm.get('noOfStaff')?.touched)) {
            <div>
                <small class="error">Total number of staff must be at least 1.</small>
            </div>
            }


            <label for="shop_mobile">Outlet Mobile Number:</label>
            <input type="tel" id="shop_mobile" [formControl]="shop_mobile" required>
            @if(this.onboardingForm.get('shop_mobile')?.invalid && (this.onboardingForm.get('shop_mobile')?.dirty ||
            this.onboardingForm.get('shop_mobile')?.touched)) {
            <div>
                <small class="error">Outlet mobile number must be 10 digits.</small>
            </div>
            }

            <label for="shop_email">Outlet Email:</label>
            <input type="email" id="shop_email" [formControl]="shop_email" required>
            @if(this.onboardingForm.get('shop_email')?.invalid && (this.onboardingForm.get('shop_email')?.dirty ||
            this.onboardingForm.get('shop_email')?.touched)) {
            <div>
                <small class="error">Please enter a valid outlet email address.</small>
            </div>
            }


            <div class="services-container">
                <h3>Select Services:</h3>

                <div class="service-item">
                    @for (item of this.servicesList; track item.id) {
                    <div class="service-row">
                        <input type="checkbox" [value]="item.id" (change)="onServiceChange(item.id,item.price, $event)">
                        <span class="service-name">{{ item.name }}</span>
                        <input type="number" class="service-price" placeholder="Enter Price" (blur)="onBlur(item.id,$event)" />
                    </div>
                    } @empty {
                    <li>No Services available in Master</li>
                    }
                </div>
            </div>


            @if(services.invalid && (services.dirty || services.touched)){
            <small class="error">At least one service must be selected.</small>
            }

            }

            <br>
            <br>
            <button type="submit">Submit</button>
        </form>
    </div>
</div>


@if(successModal){
<div class="modal">
    <div class="booking-payment">
        <div class="modal-body">
            <div class="success-icon">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                    id="Capa_1" viewBox="0 0 50 50" xml:space="preserve" width="200" height="100">
                    <circle style="fill:#25AE88;" cx="25" cy="25" r="25" />
                    <polyline
                        style="fill:none;stroke:#FFFFFF;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"
                        points="  38,15 22,33 12,25 " />
                </svg>
            </div>
            <h3>Registered Successfully</h3>
        </div>
    </div>
</div>
}