
<h2>Select your booking details</h2>
<div class="main-form">
    <div class="dropdown">
        <div class="input-dropdown" (click)="showDropdown()">
            <div class="current-select"> 
                <i class="fa-regular fa-calendar"></i> 
                <span>{{selectedDay}}</span>
            </div>
            <span><i class="fa-solid fa-caret-down"></i></span> 
        </div>
        @if(showList){
            <div class="dropdown-list">
                @for(list of weekDays;track $index){
                    <div class="list" (click)="BookingDate(list)">{{getFormatDate(list)}}</div>
                }
            </div>
        }
    </div>
    <div class="time-slot">
        <div class="slot-tab">
            <div class="tab" [ngClass]="{active:activeTab === 'morning'}" (click)="selectTab('morning')">Morning Slot</div>
            <div class="tab" [ngClass]="{active:activeTab === 'afternoon'}" (click)="selectTab('afternoon')">Afternoon Slot</div>
            <div class="tab" [ngClass]="{active:activeTab === 'evening'}" (click)="selectTab('evening')">Evening Slot</div>
        </div>
        <hr>
        <!-- Time Slot -->
        @if(activeTab === 'morning'){
            <div class="time-booking">
                @for(time of morningTimes; track $index){
                    <div 
                        class="time" 
                        [ngClass]="isSelected(time) ? ' selectSlot' : 'time'" 
                        (click)="bookingTime(time)"> {{time.time}}
                    </div>
                }
            </div>
        }   
        @if(activeTab === 'afternoon'){
            <div class="time-booking">
                @for(time of afternoonTimes; track $index){
                    <div 
                        class="time" 
                        [ngClass]="isSelected(time) ? ' selectSlot' : 'time'" 
                        (click)="bookingTime(time)"> {{time.time}}
                    </div>
                }
            </div>
        }   
        @if(activeTab === 'evening'){
            <div class="time-booking">
                @for(time of eveningTimes; track $index){
                    <div 
                        class="time" 
                        [ngClass]="isSelected(time) ? ' selectSlot' : 'time'" 
                        (click)="bookingTime(time)"> {{time.time}}
                    </div>
                }
            </div>
        }   
    </div>
    <div class="booking-cta">
        <button  class="cta" [ngClass]="disabled === false ? 'disabled' :'active'" (click)="bookedTimeSlot()">Book Service</button>
    </div>
</div>

@if(modalVisible){
    <div class="modal" >
        <div class="booking-payment">
            <div class="close-modal" (click)="hideModal($event)">
                <i class="fa-regular fa-circle-xmark"></i>
            </div>
           
            <div class="modal-body">
                <!-- <h3 class="thanks-message">Thank you for booking</h3> -->
                <h3>Booking Successfully created....</h3>
                <div class="success-icon">
                    <!-- <img src="../../../../assets/png/check.png" alt="success" width="100%" height="200px"> -->
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" viewBox="0 0 50 50" xml:space="preserve" width="200" height="100">
                        <circle style="fill:#25AE88;" cx="25" cy="25" r="25"/>
                        <polyline style="fill:none;stroke:#FFFFFF;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" points="  38,15 22,33 12,25 "/>
                    </svg>
                </div>
                <h3>Booking Id : 12345678</h3>
            </div>
        </div>
    </div>
}


