<div class="container">
    <header class="web_header">
        <div class="desktop-header">
            <div class="search">
                <div>
                    <h3>Salon</h3>
                </div>
                <div class="search_input">
                    <div class="pincode">
                        <div class="location" (click)="openLocation()">
                            <!-- <i class="fa-solid fa-location-dot"></i> -->
                            <form [formGroup]="pincodeForm">
                                 <input type="text" class="location-input" placeholder="Search on  pincode "  maxlength="6" formControlName="pincode" (input)="checkPincode()">
                            </form>
                            <!-- <i class="fa-solid fa-caret-down"></i> -->
                        </div>
                        @if(openLocationDropdown){
                            <div class="location-dropdown" (click)="getLocation()">
                                <i class="fa-solid fa-location-crosshairs"></i> DITECT CURRENT LOCATION
                            </div>
                        }
                        
                    </div>
                    
                    <!-- <form class="form">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <input type="search" placeholder="Search salon" class="form-control" formControlName="salonSearch">
                    </form> -->
                </div>
            </div>
            <div class="login_signup">
                    @if(authToken){
                     <a [routerLink]="['/website/mybooking']" routerLinkActive="router-link-active" >My Booking</a>
                    }
                    <a [routerLink]="['/login']" routerLinkActive="router-link-active" >{{authToken ? 'Welcome' : 'Log in'}}</a>
                    @if(!authToken){
                        <a [routerLink]="['/singup']">Sign up</a>
                    }
            </div>
        </div>
       
        <div class="mobile-header search_input">
            <div class="pincode">
                <div class="location" (click)="openLocation()">
                    <!-- <i class="fa-solid fa-location-dot"></i> -->
                    <form [formGroup]="pincodeForm">
                         <input type="text" class="location-input" maxlength="6" formControlName="pincode" id="" (keydown)="checkPincode()">
                    </form>
                    <!-- <i class="fa-solid fa-caret-down"></i> -->
                </div>
                @if(openLocationDropdown){
                    <div class="location-dropdown" (click)="getLocation()">
                        <i class="fa-solid fa-location-crosshairs"></i> DITECT CURRENT LOCATION
                    </div>
                }
            </div>
            <!-- <form class="form">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="search" placeholder="Search salon" class="form-control" formControlName="salonSearch">
            </form> -->
        </div>
    </header>
    <router-outlet/>
    <!-- <footer> -->
        <section class="footer">
            <div class="footer-row">
              <div class="footer-col">
                <h4>Info</h4>
                <ul class="links">
                  <li><a href="#">About Us</a></li>
                  <li><a href="#">Compressions</a></li>
                  <li><a href="#">Customers</a></li>
                  <li><a href="#">Service</a></li>
                  <li><a href="#">Collection</a></li>
                </ul>
              </div>
              <div class="footer-col">
                <h4>Explore</h4>
                <ul class="links">
                  <!-- <li><a href="#">Free Designs</a></li>
                  <li><a href="#">Latest Designs</a></li>
                  <li><a href="#">Themes</a></li>
                  <li><a href="#">Popular Designs</a></li>
                  <li><a href="#">Art Skills</a></li>
                  <li><a href="#">New Uploads</a></li> -->
                </ul>
              </div>
              <div class="footer-col">
                <h4>Legal</h4>
                <ul class="links">
                  <li><a href="#">Customer Agreement</a></li>
                  <li><a href="#">Privacy Policy</a></li>
                  <li><a href="#">GDPR</a></li>
                  <li><a href="#">Security</a></li>
                </ul>
              </div>
              <div class="footer-col">
                <h4>Newsletter</h4>
                <p>
                  Subscribe to our newsletter for a weekly dose
                  of news, updates, helpful tips, and
                  exclusive offers.
                </p>
                <form action="#">
                  <input type="text" placeholder="Your email" required>
                  <button type="submit">SUBSCRIBE</button>
                </form>
                <div class="icons">
                  <i class="fa-brands fa-facebook-f"></i>
                  <i class="fa-brands fa-twitter"></i>
                  <i class="fa-brands fa-linkedin"></i>
                  <i class="fa-brands fa-github"></i>
                </div>
              </div>
            </div>
          </section>
    <!-- </footer> -->
</div>


<!-- spring.application.name=template

server.port=8081

##Database
spring.datasource.url=jdbc:postgresql://localhost:5432/vendordatabase
spring.datasource.username=postgres
spring.datasource.password=2022
spring.datasource.driver-class-name=org.postgresql.Driver
spring.jpa.show-sql=true
spring.jpa.hibernate.ddl-auto=update
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.PostgreSQLDialect
spring.jpa.hibernate.naming.physical-strategy=org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl -->