<div class="my-booking">
  <table class="content-table">
    <thead>
      <tr>
        <th>Sr.no</th>
        <th>Shop Name</th>
        <th>Services</th>
        <th>Time Slot</th>
        <th>Address</th>
        <th>Cancel Booking</th>
      </tr>
    </thead>
    <tbody>
      @for (serviceHistory of customerBookingResponse?.payload?.serviceHistory; let i= $index; track $index) {
        @for (service of serviceHistory.services; track $index;let j = $index) {
          <tr>
            <td>{{i+j+1}}</td>
            <td>{{serviceHistory.vendorName}}</td>
            <td>{{service.serviceName}}</td>
            <td>{{serviceHistory.date}} 
                {{service.time}}
            </td>
            <td>{{serviceHistory.vendorAddress}}
                <p> {{serviceHistory.vendorPhone}}</p>
            </td>
            <td><i class="fa-solid fa-trash delete actions" (click)=deleteBooking(serviceHistory.bookingId,serviceHistory.vendorId,service.vendorServiceKey,i,j) ></i></td>
          </tr>
        }
      }
    </tbody>
  </table>
</div>
