<div class="my-booking">
    <table class="content-table">
        <thead>
          <tr>
            <th>Sr.no</th>
            <!-- <th>Booking Id</th> -->
            <th>Shop Name</th>
            <th>Services</th>
            <th>Time Slot</th>
            <th>Address</th>
            <th>Cancel Booking</th>
          </tr>
        </thead>
        <tbody>
          @for (serviceHistory of customerBookingResponse?.payload?.serviceHistory; track $index) {
            
            @for (service of serviceHistory.services; let i = $index; track $index) {
              
          <tr>
            <td>{{$index+1}}</td>
            <!-- <td>{{1234567}}</td> -->
            <td>{{serviceHistory.vendorName}}</td>
            <td>{{service.serviceName}}</td>
            <td>{{serviceHistory.date}} 
              <!-- <p> -->
                {{service.time}}
              <!-- </p> -->
            </td>
            <td>{{serviceHistory.vendorAddress}}
                <p> {{serviceHistory.vendorPhone}}</p>
            </td>
            
            <td><i class="fa-solid fa-trash delete actions" (click)=deleteBooking(customerId,$index)></i></td>
          </tr>
        }
      }
          <!-- <tr class="active-row">
            <td>2</td>
            <td>1234567</td>
            <td>Sally</td>
            <td>72,400</td>
            <td>Students</td>
          </tr>
          <tr>
            <td>3</td>
            <td>1234567</td>
            <td>Nick</td>
            <td>52,300</td>
            <td>dcode</td>
          </tr>
          <tr class="active-row">
            <td>2</td>
            <td>1234567</td>
            <td>Sally</td>
            <td>72,400</td>
            <td>Students</td>
          </tr>
          <tr>
            <td>3</td>
            <td>Nick</td>
            <td>52,300</td>
            <td>dcode</td>
          </tr> -->
        </tbody>
      </table>
</div>
