.header-main{
    width: 100%;
}
.main{
    width: 100%;
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    .sidebar{
        width: 20%;
        height: 100vh;
        background-color: #405189;
        border-radius: 8px;
        padding: 20px;
    }
    .apnel-main{
        width: 80%;
        height: 100vh;
        background-color:#f3f3f9;
        padding: 20px;
    }
}