<div class="dashboard-view">
    <div class="cards">
        <div class="card">
            <p class="heading">Today Customer count</p>
            <P class="count">123456</P>
        </div>
        <div class="card">
            <p class="heading">Monthly Customer count</p>
            <P class="count">123456</P>
        </div>
        <div class="card">
            <p class="heading">Todays Revenue</p>
            <P class="count"> 
                <i class="fa-solid fa-indian-rupee-sign"></i> 
                <span>123456</span> 
            </P>
        </div>
        <div class="card">
            <p class="heading">Monthly Revenue</p>
            <P class="count"> 
                <i class="fa-solid fa-indian-rupee-sign"></i> 
                <span>123456</span> 
            </P>
        </div>
    </div>
    
    <div class="chart">
         <div class="bar-chart">
           <canvas id="doughtnut2" width="300px" height="300px"></canvas>
        </div>
        <div class="bar-chart"> </div>
    </div>
</div>



