<div class="login">
    <div class="left-image"></div>
    <div class="login-form">
        <h3>Login</h3>
        @if(loginErrorMessage){
             <p class="error">please enter valid crediational</p>
        }
        <form [formGroup]="loginForm">
            <div class="flex-container">
                <div class="flex-item">
                    <label for="phone">Mobile Number</label>
                    <input type="tel" id="phone" placeholder="Ex.9876555555" maxlength="10" formControlName="mobile">
                </div>
                @if(loginForm.controls['mobile']?.invalid && (loginForm.controls['mobile']?.dirty || loginForm.controls['mobile']?.touched)){
                    <div class="error">
                        @if((loginForm?.controls['mobile']?.errors?.required && !loginForm?.controls['mobile']?.errors?.invalidMobile)){
                            <div>
                                Plaese enter your mobile number
                            </div>
                        }
                        @if((loginForm?.controls['mobile']?.errors?.invalidMobile && !loginForm?.controls['mobile']?.errors?.required)){
                            <div>
                                Plaese enter mobile number start with 6,7,8,9
                            </div>
                        }
                    </div>
                }
                <div class="flex-item">
                    <label for="password">Password</label>
                    <input type="password" id="password" placeholder="Ex.*******"  formControlName="password">
                </div>
                @if(loginForm.controls['password']?.invalid && (loginForm.controls['password']?.dirty || loginForm.controls['password']?.touched)){
                    <div class="error">
                        @if(loginForm?.controls['password']?.errors?.required){
                            <div>
                                Plaese enter your password
                            </div>
                        }
                        @if(loginForm?.controls['password']?.errors?.maxlength){
                            <div>
                                Plaese enter your password max 8 character
                            </div>
                        }
                    </div>
                }
            </div>

            <div class="login-cta">
                <button type="button" (click)="login()">Login</button>
                <a href="/register">I don't have register my account</a>
            </div>
        </form>
    </div>
</div>
