<div class="container">
    <div class="banner">
        <img src="https://fsdproject.s3.ap-south-1.amazonaws.com/Default.png" alt="">
    </div>
    <!-- <section>
        <div class="filter">
            <div class="list main-filter" (click)="openFilter()">
                <i class="fa-solid fa-filter"></i> Filter
            </div>
            @for(list of filterList; track list.name){
                <div class="list" [ngClass]="seletedFilter(list) ? 'seleted': 'list'" (click)="applyFilter(list.name)">{{list.name}} 
                    <i class="fa-solid fa-xmark" ></i>
                </div>
            }
        </div>  
    </section> -->
    <!-- <google-map height="600px" width="800px" [options]="options"> </google-map> -->
    <!-- shop card -->
    <div class="shop_card">
        @for(shop of salonShop; track $index){
            <div class="card" (click)="redirectToShop(shop.userId)">
                @if(shop.bannerImage){
                    <img  [src]="shop.bannerImage" alt="banner" loading="lazy" width="191px" height="150px">
                } @else{
                    <img  src="https://images.pexels.com/photos/705255/pexels-photo-705255.jpeg?auto=compress&cs=tinysrgb&w=800" alt="banner" loading="lazy"  width="191px" height="150px">
                }
                <div class="card-body">
                    <h3>{{shop.vendorOutletName}}</h3> 
                    <span>{{shop.rating}}</span>
                </div>
                <div class="specialist">
                    @for(specialist of shop.specialists; track specialist){
                        {{specialist}},
                    }
                 </div>
                 
                <div class="card-body address">
                    <p><span>{{shop.addresLine1}}</span>,<span>{{shop.addressLine1}}</span></p>
                    <span>{{shop.city}}</span>
                    <span>{{distance | number :'1.0-1'}} KM</span>
                </div>
            </div>
        }
    </div>
</div>
@if(modalVisible){
    <div class="modal" >
        <div class="filter">
            <div class="close-modal" (click)="hideModal($event)">
                <i class="fa-regular fa-circle-xmark"></i>
            </div>
           
            <div class="modal-body">
                <div class="success-icon">
                </div>
            </div>
        </div>
    </div>
}

