<div class="dashboard">
<div class="header-main">
        <app-vendor-header/>
  </div>
  <div class="main">
    <div class="sidebar">
            <app-sidebar/>
    </div>
  <!-- <div class="apnel-main">
        <router-outlet />
    </div> -->
  <div class="my-booking">
    <div>
      <label>Date:</label>
      <div class="input-group">
        <input type="date" (change)="onDateChange($event)" [value]=currentDate class="form-control col-md-8"
          formControlName="defaultDate" />
    </div>
    </div>

    

    <table class="content-table">
      <thead>
        <tr>
          <th>Sr.no</th>
          <!-- <th>Booking Id</th> -->
          <th>Customer Name</th>
          <th>Mobile Number</th>
          <th>Services</th>
          <th>Time Slot</th>

          <!-- <th>Cancel Booking</th> -->
        </tr>
      </thead>
      <tbody>
        @for (serviceHistory of vendorBookingResponse?.payload?.serviceHistory; track $index) {

        @for (service of serviceHistory.services; track $index) {

        <tr>
          <td>{{$index+1}}</td>
          <!-- <td>{{1234567}}</td> -->
          <td>{{serviceHistory.customerName}}</td>
          <td>{{serviceHistory.customerPhone}}</td>
          <td>{{service.serviceName}}</td>

          <td>{{serviceHistory.date}}
            <!-- <p> -->
            {{service.time}}
            <!-- </p> -->
          </td>



        </tr>
        }
        }

      </tbody>
    </table>
  </div>
</div>